:root {
    --color_white: 255, 255, 255;
    --main_tile_fonts: 'Rozha One', serif;
    --secendary_title_fonts: 'Roboto', sans-serif;
    --color_gray: 239, 233, 230;
    --text_video_font: "Proxima N W01 Reg";
}

* {

    margin: 0;
    padding: 0;
}

main {
    max-width: 1350px;
}

header {
    width: 100%;
    height: 140px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
    z-index: 10;
}

.brend {
    width: 100%;
    max-width: 40ch;
    margin: 0;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brend h1 {
    font-size: clamp(10px, 3vw, 22px);
    font-family: var(--main_tile_fonts);
    color: black;
    justify-content: center;
}

header nav {
    width: 100%;
    max-height: 140px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav input#bar {
    display: none;
}

header nav label {
    font-size: 30px;
    color: black;
    padding: 10px;
    cursor: pointer;
    display: none;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 25px;
}

header nav ul li a {
    color: black;
    font-size: 14px;
    font-family: var(--secendary_title_fonts);
    padding: 7px 15px;
    text-decoration: none;
    transition: 0.5s ease;
}

header nav ul li a i {
    color: black;
    font-size: 22px;
    margin-right: 10px;
}

header nav ul li a:hover {
    opacity: 70%;
    text-decoration: none;
    color: black;
}


/*   Zvelikodia qvemot*/
.logo {
    display: flex;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.poster {
    margin-top: 140px;
    position: relative;
    overflow: hidden;
}

.poster__img {
    background-image: url(../assets/images/poster-main.webp);
    background-size: 100% 800px;
    height: 800px;
}

.poster__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}

.poster__overlay h1 {
    font-family: var(--main_tile_fonts);
    line-height: 1.25em;
    font-size: clamp(30px, 6vw, 72px);
    color: white;
    justify-content: center;
    text-align: center;
    margin: 230px 0 22px auto;
}

.poster__overlay h4 {
    font-family: var(--secendary_title_fonts);
    color: white;
    line-height: 1.67em;
    font-size: 20px;
    display: block;
    margin-bottom: 60px;
    text-align: center;
}

div.button {
    display: flex;
    width: 96px;
    height: 45px;
    justify-content: center;
    border: 1px white solid;
    margin: 0 auto;
    text-decoration: none;
}

.button3 {
    display: flex;
    width: 116px;
    height: 45px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px black solid;
    margin: 0 auto;
    text-decoration: none;
    transition: 1s;
}

.button3 a {
    text-decoration: none;
    color: black;
    justify-content: center;
    font-family: var(--secendary_title_fonts);
    font-size: 15px;
    transition: 1s;
}

.button3:hover {
    background-color: black;
    border: transparent;
}

.button3:hover a {
    color: white;
}




div.button a {
    text-decoration: none;
    color: white;
    width: 100%;
    font-family: var(--secendary_title_fonts);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

main section.story div.button {
    border: 1px black solid;
    width: 114px;
    height: 45px;
}

main section.story div.button a {
    color: black;
}

main section.story div.button a:hover {
    background-color: black;
    color: white;
}

div.button a:hover {
    background-color: white;
    color: black;
    border: transparent;
}




.story {
    width: 100%;
    height: 460px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(var(--color_gray));
    justify-content: center;
}

.story h1 {
    text-align: center;
    font-family: var(--main_tile_fonts);
    line-height: 1.35em;
    font-size: clamp(25px, 3vw, 40px);
    margin-top: 102px;
    margin-bottom: 25px;
}

.story p {
    text-align: center;
    line-height: 1.875em;
    font-size: 15px;
    font-family: var(--secendary_title_fonts);
    max-width: 780px;
}

.wraping {
    display: grid;
}

section.wraping h2 {
    text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    font-family: var(--main_tile_fonts);
    margin-top: 122px;
    margin-bottom: 122px;
}

section.wraping div.colmns h3 {
    font-family: var(--main_tile_fonts);
    line-height: 1.41em;
    font-size: 22px;
    margin-top: 59px;
    margin-bottom: 32px;
}

section.wraping div.colmns p {
    text-align: center;
    line-height: 1.875em;
    font-size: 15px;
    font-family: var(--secendary_title_fonts);
}

.special {
    width: 100%;
    min-height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}


.colmns {
    display: block;
    justify-content: center;
    text-align: center;

}

.after_slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.overlay_container1,
.overlay_container2,
.overlay_container3 {
    position: relative;
    cursor: pointer;
}

div.after_slide img {
    object-fit: cover;
    width: 100%;
    display: block;
}

.after_slide_overlay1,
.after_slide_overlay2,
.after_slide_overlay3 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .9s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;

}

.overlay_container1:hover .after_slide_overlay1,
.overlay_container2:hover .after_slide_overlay2,
.overlay_container3:hover .after_slide_overlay3 {
    height: 100%;
}

.overlay_container1 .after_slide_overlay1 h3,
.overlay_container2 .after_slide_overlay2 h3,
.overlay_container3 .after_slide_overlay3 h3 {
    font-family: var(--text_video_font);
    font-size: 20px;

}

.testimonials {
    min-height: 600px;
    width: 100%;
    background-color: rgb(var(--color_gray));
    display: flex;
    flex-direction: column;


}

.testimonials_header {
    position: relative;
    margin-bottom: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
}

section.testimonials div.testimonials_header h2 {
    font-family: var(--main_tile_fonts);
    text-align: center;
    line-height: 1.35em;
    font-size: clamp(35px, 3vw, 40px);
    margin-top: 102px;
}

.testimonials_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

section.testimonials div.testimonials_items div p {
    max-width: 240px;
    font-family: var(--main_tile_fonts);
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 31px;
}

section.testimonials div.testimonials_items span {
    font-family: var(--secendary_title_fonts);
    font-size: 18px;
}


.image-container {
    position: relative;
    width: 100%;

}


.container-image {
    background-image: url(../assets/images/image\ wander.webp);
    background-size: 100%;
    height: 540px;
    object-fit: cover;
    background-repeat: no-repeat;
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;

}

.image-container .text-overlay h2 {
    font-family: var(--main_tile_fonts);
    margin-top: 150px;
    line-height: 1.35em;
    font-size: 40px;
}

.image-container .text-overlay p {
    font-family: var(--secendary_title_fonts);
    line-height: 1.75em;
    font-size: 18px;
}

.contact-form {
    margin: 0 auto;
    max-width: 680px;
    margin-top: 20px;
    padding: 20px;

}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

.form-group textarea {
    resize: vertical;

}


button {
    display: flex;
}

.submit-btn {
    background-color: black;
    color: #fff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

iframe {
    width: 100%;
    min-height: 450px;
}

footer {
    width: 100%;
    height: 45px;
    margin-top: 80px;
    position: relative;
    bottom: 0;
}

footer p {

    line-height: 1.79em;
    text-align: center;
    font-size: 14px;
    font-family: var(--secendary_title_fonts);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    background-color: rgb(var(--color_gray));
}

.adress__bar {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.adress__bar h2 {
    font-size: 40px;
    font-family: var(--main_tile_fonts);

}

.about-title {
    display: flex;
    min-height: 300px;
    margin-top: 130px;
    justify-content: center;
    background-color: rgb(var(--color_gray));
    align-items: center;
}

.about-title h1 {
    font-size: 40px;
    font-family: var(--main_tile_fonts);

}

.about-img img {
    object-fit: cover;
    width: 100%;
}

.about_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 780px;
    margin: 0 auto;
    margin-top: 30px;

}

.about_description p {
    font-family: var(--secendary_title_fonts);
    font-size: 14px;
    max-width: 780px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.cardb {
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 616px));
    column-gap: 20px;
    max-width: 980px;
    margin: 0 auto;
}

.product-card {
    border: 1px solid #ccc;
    margin: 10px;
    width: 90%;
    float: left;
}

.product-card img {
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.product-description {
    padding: 20px;
    margin: 0 auto;
}

.product-card h3 {
    font-family: var(--main_tile_fonts);
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.product-card p {
    font-size: 16px;
    font-family: var(--secendary_title_fonts);
}

.product-card .price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.product-card button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.product-card button:hover {
    opacity: 80%;
}